
body {
  font-family: Arial, sans-serif;
}

.hero {
  background: linear-gradient(45deg, #1a1a1a, #444);
  padding: 100px 20px;
}

.footer {
  background-color: #000;
}


#cxone-chat-placeholder {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #0d6efd;
    color: white;
    padding: 12px 16px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.3);
    font-weight: bold;
    z-index: 9999;
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark img {
    width: 100%;
    max-width: 450px;
    max-height: 60px;
}